.board {
  background-color: palegoldenrod;
}

.board tr td {
  background-color: palegoldenrod;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.board .top-left {
  background-color: darkkhaki;
}

.board .bottom {
  background-color: beige;
}

.board tr > td:hover {
  background-color: magenta;
  opacity: .15;
}

.board {
  background-color: palegoldenrod;

  & tr > td {
    background-color: palegoldenrod;
    border-radius: 50%;
    height: 80px;
    width: 80px;

    &:hover {
      background-color: magenta;
      opacity: .15;
    }
  }

  & .top-left {
    background-color: darkkhaki;
  }
  & .bottom {
    background-color: beige;
  }
}
