table.board {
  background-color: palegoldenrod;
}

table.board tr > td {
  background-color: palegoldenrod;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

table.board tr > td:hover {
  background-color: magenta;
  opacity: .15;
}

table.board {
  background-color: palegoldenrod;

  & tr > td {
    background-color: palegoldenrod;
    border-radius: 50%;
    height: 80px;
    width: 80px;

    &:hover {
      background-color: magenta;
      opacity: .15;
    }
  }
}
