h1 {
  text-align: center;
}

table.board {
  background-color: palegoldenrod;
  margin-left: auto;
  margin-right: auto;
}

table.board tr > td {
  background-color: palegoldenrod;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

table.board tr > td:hover {
  background-color: magenta;
  opacity: .15;
}

table.board tr > td[data-color="BLACK"] {
  background-color: darkkhaki;
}

table.board tr > td[data-color="WHITE"] {
  background-color: beige;
}

table.board {
  background-color: palegoldenrod;
  margin-left: auto;
  margin-right: auto;

  & tr > td {
    background-color: palegoldenrod;
    border-radius: 50%;
    height: 80px;
    width: 80px;

    &:hover {
      background-color: magenta;
      opacity: .15;
    }

    &[data-color="BLACK"] {
      background-color: darkkhaki;
    }

    &[data-color="WHITE"] {
      background-color: beige;
    }
  }
}
